.task{
    font-size: 30px;
}
.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.card-container {
    animation: floatUpDown 2s ease-in-out infinite;
}

.card-container {
    perspective: 1000px;
    cursor: pointer;
}

.card {
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 3s;
    
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}
